.br-theme-bars-movie .br-widget {
  height: 10px;
  white-space: nowrap;
  position: relative;
}
.br-theme-bars-movie .br-widget a {
  display: block;
  width: 10%;
  height: 8px;
  float: left;
  background-color: #fff;
  background-color: rgba(255,255,255,0.7);
  margin:0 1.1% 0 0;
  border:none;
}

.br-theme-bars-movie .br-widget a:last-of-type{
  margin-right:0;
}

.br-theme-bars-movie .br-widget a.br-active,
.br-theme-bars-movie .br-widget a.br-selected {
  background-color: #FBBA30;
}
.br-theme-bars-movie .br-widget .br-current-rating {
  clear: both;
  width: 100%;
  text-align: center;
  display: block;
  padding: 0;
  color: #fff;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1em;
  position: absolute;
  top:-25px;
}

.br-theme-bars-movie .br-widget .br-current-rating:before{
  content: 'Dans un rayon de : ';
  text-transform: none;
}

.br-theme-bars-movie .br-readonly a {
  cursor: default;
}
.br-theme-bars-movie .br-readonly a.br-active,
.br-theme-bars-movie .br-readonly a.br-selected {
  background-color: #FFDB57;
}
.br-theme-bars-movie .br-readonly .br-current-rating {
  color: #FFDB57;
}
@media print {
  .br-theme-bars-movie .br-widget a {
    border: 1px solid #b3b3b3;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .br-theme-bars-movie .br-widget a.br-active,
  .br-theme-bars-movie .br-widget a.br-selected {
    border: 1px solid black;
    background: white;
  }
  .br-theme-bars-movie .br-widget .br-current-rating {
    color: black;
  }
}
